header {
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px var(--primary);
  position: fixed;
  width: 100%;
  background: var(--background);
  z-index: 1;
}

header select {
  background: transparent;
  border: none;
  color: var(--text);
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  font-size: 0.825rem;
}
header select:hover {
  color: var(--secondary);
}

.logo {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  letter-spacing: 1px;
}

.sun {
  width: 20px;
  aspect-ratio: 1/1;
  color: var(--text);
}

.btns {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.btns button {
  background: var(--secondary);
  color: var(--text);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.3rem 1.2rem;
  border-radius: 1rem;
  transition: 0.3s;
}
.btns button:is(:hover, :focus) {
  background: var(--accent);
}
button.selected {
  background: var(--accent);
}

@media (min-width: 900px) {
  header {
    padding: 1.3rem 5rem;
  }

  .btns {
    gap: 1.2em;
  }
}
